export OPENAI_API_URL=https://api.moonshot.cn/v1
export MODEL_ID=moonshot-v1-8k
export OPENAI_API_KEY=sk-xxx

# # export OPENAI_API_URL=https://api.deepseek.com/v1
# export MODEL_ID=deepseek-chat
# export OPENAI_API_KEY=sk-xxx